body #container header section:first-child {
  padding: 13px 0;
  color: #cc4500;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  body #container header section:first-child img {
    width: 73px;
    height: 51px; }
  body #container header section:first-child address {
    display: flex; }
    body #container header section:first-child address span {
      margin-right: 73px; }
    body #container header section:first-child address span, body #container header section:first-child address a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-style: normal;
      font-size: 12px;
      text-decoration: none;
      color: #cc4500; }
      body #container header section:first-child address span i.material-icons, body #container header section:first-child address a i.material-icons {
        font-size: 12px; }
body #container header nav {
  height: 60px;
  background-color: #cc4500;
  margin: 0 -150px;
  display: flex;
  align-items: center;
  z-index: 500; }
  body #container header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 150px; }
    body #container header nav ul li.menu-item {
      list-style: none;
      line-height: 59px;
      z-index: 100; }
      body #container header nav ul li.menu-item:hover {
        background-color: #fc9218; }
      body #container header nav ul li.menu-item.menu-item-has-children::after {
        content: "expand_more";
        margin-right: 15px;
        font-family: "Material Icons", serif;
        color: white;
        font-weight: bold;
        font-size: 12px; }
      body #container header nav ul li.menu-item a {
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        padding: 15px; }
      body #container header nav ul li.menu-item ul.sub-menu {
        padding: 0;
        flex-direction: column;
        position: absolute;
        background-color: #cc4500;
        display: none;
        width: auto; }
        body #container header nav ul li.menu-item ul.sub-menu li.menu-item {
          position: relative;
          line-height: normal;
          padding: 15px; }
          body #container header nav ul li.menu-item ul.sub-menu li.menu-item.menu-item-has-children::after {
            content: "chevron_right";
            margin-right: 15px;
            font-family: "Material Icons", serif;
            color: white;
            font-weight: bold;
            font-size: 12px; }
          body #container header nav ul li.menu-item ul.sub-menu li.menu-item.menu-item-has-children ul.sub-menu {
            position: absolute;
            display: none;
            left: 100%;
            top: 0;
            width: 200px; }
          body #container header nav ul li.menu-item ul.sub-menu li.menu-item.menu-item-has-children:hover ul.sub-menu {
            display: block; }
      body #container header nav ul li.menu-item:hover ul.sub-menu {
        display: block; }
body #container > nav {
  background-color: rgba(242, 140, 14, 0.1);
  height: 478px;
  margin: 0 -150px;
  padding: 60px 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
  box-sizing: border-box; }
  body #container > nav div {
    background-color: #fff;
    border-radius: 31px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    cursor: pointer; }
    body #container > nav div header {
      height: 152px;
      border-radius: 31px 31px 0 0; }
    body #container > nav div:nth-child(1) header {
      background-image: url("../assets/thumbnail1.jpeg");
      background-position-x: -51px;
      background-position-y: -16px;
      background-size: 129%;
      background-repeat: no-repeat; }
    body #container > nav div:nth-child(2) header {
      background-image: url("../assets/thumbnail2.jpeg");
      background-position-x: -51px;
      background-position-y: -16px;
      background-size: 129%;
      background-repeat: no-repeat; }
    body #container > nav div:nth-child(3) header {
      background-image: url("../assets/thumbnail3.jpeg");
      background-position-x: -51px;
      background-position-y: -16px;
      background-size: 129%;
      background-repeat: no-repeat; }
    body #container > nav div:nth-child(4) header {
      background-image: url("../assets/thumbnail4.jpeg");
      background-position-x: -51px;
      background-position-y: -16px;
      background-size: 129%;
      background-repeat: no-repeat; }
    body #container > nav div section h4 {
      font-weight: bold;
      font-size: 30px;
      text-align: center;
      text-transform: uppercase;
      margin: 27px auto; }
    body #container > nav div section p {
      margin: 0 21px 21px 21px; }

/*# sourceMappingURL=header.css.map */
