footer {
  #footer__container {
    padding: 92px 0 80px 0;
    display: grid;
    grid-template-columns: 1fr 5fr;

    img {
      width: 110px;
    }

    nav {
      display: flex;
      justify-content: space-between;

      h5 {
        height: 17px;
        text-transform: uppercase;
        font-style: normal;
        color: #065E70;
      }

      li {
        font-size: 0.8em;
        color: #065E70;
        padding-bottom: 5px;

        a {
          color: #065E70;
          text-decoration: none;
        }
      }

      address {
        p {
          font-size: 0.8em;
          color: #065E70;
          font-style: normal;
          padding-left: 30px;
        }

        a {
          font-size: 0.8em;
          text-decoration: none;
          color: #065E70;
          font-style: normal;
          padding-left: 30px;
        }
      }
    }
  }
}
