@import "assets/colors";
@import "assets/mixins";

body {
  #container {
    #posts {
      position: relative;

      #display__filters__button {
        position: absolute;
        border: none;
        right: 0;
        background-color: white;
        font-size: 18px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
        margin-top: 10px;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }

      header {
        h2 {
          @include h2__style;
          border-bottom: 0;
        }

        #post__categories__filters {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin: 40px 0;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;

          .post__category__filter {
            @include thumbnails__category_filter;
            margin: 10px;
          }
        }
      }

      #posts__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;

        .post__card {
          width: 100%;
          background-color: #fff;
          border-radius: 2px;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          // Pour aligner le "lire à la suite" en bas
          //display: grid;
          //grid-template-rows: 200px 1fr;

          header {
            width: 100%;
            height: 200px;
            margin-bottom: 5px;
            position: relative;

            a {
              display: block;
              width: 100%;
              height: 100%;
            }

            .post__card__categories {
              position: absolute;
              top: 8px;
              left: 8px;
              display: flex;
              flex-wrap: wrap;

              .post__card__category_thumbnail {
                @include thumbnails__category_filter;
              }
            }
          }

          &:first-child {
            grid-column: 1/3;
          }

          section {
            width: 100%;
            padding: 0 15px 50px 15px;
            box-sizing: border-box;
            position: relative;
            height: 100%;

            h5 {
              font-weight: bold;
              font-size: 16px;
              margin: 10px 0;

              a {
                text-decoration: none;
              }
            }

            .post__card__date {
              font-weight: 300;
              font-size: 14px;
              opacity: .5;
            }

            a.post__card__next {
              opacity: .5;
            }
          }
        }
      }
    }
  }
}